projects {
    display: flex;
    flex-direction: row;
    /*overflow: hidden;*/
}

aside{
    position: absolute;
    left: 0;
    top: 25vh;
    background-color: #B0C4DE;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: auto;
    min-width: 250px;
    max-width: 80vw;
    min-height: 50vh;
    padding: 20px;
    transition: all 0.3s linear;
    cursor: grab;
    z-index: 1;
}

aside h3{
    margin-block: 10px;
    border-radius: 5px;
    background-color: #4682B4;
    font-weight: 500;
    padding: 6px;
    color: white;
}

aside p {
    width: auto;
    margin-block: 5px;
    cursor: pointer;
    color: black;
    margin-left: 15px;
}

aside p:hover {
    text-decoration: underline;
}

slider {
    display: flex;
    flex-direction: row;
}

buttons {
    display: flex;
    flex-direction: row;
    margin-inline: 5%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 5px;
    width: 70px;
    margin-inline: 2px;
    background-color: #ADBBDA;
    border: 0.2px solid black;
    border-radius: 5px;
    transition: width 0.2s, padding 0.2s, margin 0.2s;
}

button:hover {
    margin-inline: 0px;
    width: 74px;
    padding: 7px;
    cursor: pointer;
}

.projectTitles {
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 90%;
    margin-inline: 5%;
    overflow: hidden;
}

.projectTitles div {
    min-width: 100%;
    transition: margin ease 1s;
}

content {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description {
    display: block;
    border: 0.2px solid black;
    flex: 1;
    border-radius: 15px;
    background-color: #EDE8F5;
}

.description div {
    opacity: 0;
    transition: opacity 0.5s;
    padding-inline: 4px;
    text-align: center;
}

.photos {
    background-color: #EDE8F5;
    flex: 1;
    border: 0.2px solid black;
    border-radius: 15px;
}

.photos .slide {
    padding: 2.5%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    transition: opacity 0.5s;
}

div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px inset black;
    max-width: 1285px;
}

div img:hover:not(dialog div img) {
    cursor: pointer;
    border: 2px inset blue;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 1285px;
}

.mainPhoto {
    display: none;
}
.soloMainPhoto{
    display: block!important;
}

/*dialog {*/
/*    width: 100vw;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    overflow: hidden;*/
/*    visibility: hidden;*/
/*    background: rgba(0, 0, 0, 0.5);;*/
/*    border: none;*/
/*}*/

/*dialog[open] {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/

dialog div {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ol {
    display: inline-block;
    padding-inline: 10%;
}

ol li {
    text-align: left !important;
}


@media screen and (min-width: 1285px) {
    .mainPhoto, .video {
        grid-column: 1/3;
        cursor: pointer;
    }

    div img {
        max-width: 1920px;
    }

    .photos .slide {
        padding: 2.5%;
        width: 95%;
        height: 95%;
        display: grid;
        grid-template-columns: 16fr 16fr;
        grid-template-rows: 18fr 9fr;
        gap: 10px;
        transition: opacity 0.5s;
    }

    .mainPhoto {
        display: block;
    }

    .projectTitles {
        height: 5vh;
        font-weight: bold;
        font-size: larger;
    }

    content {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .description p {
        padding-inline: 10%;
    }

    video {
        max-width: 1920px;
        /*position: absolute; !* Position absolute for better control *!*/
        /*top: 50%; !* Center vertically *!*/
        /*left: 50%; !* Center horizontally *!*/
        /*transform: translate(-50%, -50%); !* Adjust centering *!*/
    }
}