form {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    column-gap: 5px;
    row-gap: 7px;
}

input {
    min-height: 20px;
    padding: 5px;
    min-width: 0px;
}

button{
    justify-self: right;
    padding-block: 4px;
    background-color: lightseagreen;
    color: white;
    border-radius: 5px;
    border: 0.2px solid black;
    font-size: large;
    padding-inline: 7px;
    width: 20%;
    min-width: 70px;
    grid-column: 2/3;
}

textarea {
    resize: none;
    padding: 5px;
}

#email {
    grid-column: 1/3;
}

#message {
    grid-row: 3/4;
    grid-column: 1/3;
}



@media screen and (min-width: 768px) {
    main {
        margin-inline: 30%;
    }
}