#empty{
    margin:25%;
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
}

main div{    
    background-color: red;
    height: 100px;
}


@media screen and (min-width: 768px) {
    h2{
        font-size: 38px;
    }
    main{
        margin-inline: 20%;
    }
}

@media screen and (min-width: 1920px) {
    main{
        margin-inline: 30%;
    }
}