body {
    font-family: Arial, SansSerif, serif;
    font-size: 16px;
    color: #3D52A0;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

header {
    /*height: 14vh;*/
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
}

headerButtons {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

a.selectPage {
    text-decoration: none;
    color: white;
    background-color: #ADBBDA;
    flex: 1;
    border: .2px solid black;
    border-radius: 2px;
}

a.selectPage:hover {
    background-color: #a3b1d1;
}

button:hover {
    cursor: pointer;
}

.infoTags {
    font-size: xx-small;
    color: lightgray;
}

.currentPage {
    background-color: #93a1c2;
}

.explanationTag {
    display: inline-block;
    color: white;
    background-color: rgb(128, 128, 128);
    width: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: x-small;
    border-radius: 5px;
    padding: 0;
}

.tooltip {
    display: none;
    position: absolute;
}

.tooltip .tooltipText {
    visibility: hidden;
    background-color: rgba(128, 128, 128, 0.7);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
}

.tooltip:hover {
    cursor: pointer;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    font-size: small;
}

.noDisplay {
    display: none !important;
}

.pcOnly {
    display: none;
}

.phoneOnly {
    display: block;
}

.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 2vh;
    left: 90vw;
    padding: 8px 12px;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.close:hover {
    background: #bbb;
}

dialog {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);;
    border: none;
}

dialog[open] {
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .tooltip {
        display: inline-block;
    }

    logo {
        background-image: url("Images/PortfolioLogo.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        min-height: 2vh;
        margin-inline: 25vw;
        background-position: center;
    }

    a.selectPage{
        padding-block: 5px;
    }

    header {
        height: 8vh;
        position: sticky;
        top: 0;
        background-color: #7091E6;
        padding-block: 15px;
    }

    headerButtons {
        flex-direction: row;
        margin-inline: 10vw;
        height: 4vh;
    }

    main {
        margin-inline: 8.5vw;
    }

    .pcOnly {
        display: block;
    }

    .phoneOnly {
        display: none !important;
    }
}

@media screen and (min-width: 1285px){
    .close {
        display: inline;
        top: 5vh;
        left: 95vw;
        padding: 12px 16px;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: large;
    }
}