:root {
    --contrast-dark: hsl(0, 0%, 20%);
    --contrast-light: hsl(0, 0%, 100%);
    --button: hsl(221, 38%, 77%);
    --button-hover: hsl(222, 33%, 73%);
    --light-blue: hsl(223, 70%, 67%);
    --text-color: hsl(227, 45%, 43%);
    --card-bg: hsl(263, 39%, 90%);
    --link: hsl(211, 100%, 46%);
    --visited-link: hsl(271, 100%, 43%);
}

.dark-mode {
    --contrast-dark: hsl(0, 0%, 80%);
    --contrast-light: hsl(0, 0%, 20%);
    --button: hsl(221, 38%, 55%);
    --button-hover: hsl(222, 38%, 60%);
    --light-blue: hsl(223, 60%, 40%);
    --text-color: hsl(0, 0%, 85%);
    --card-bg: hsl(263, 39%, 40%);
    --link: hsl(211, 100%, 70%);
    --visited-link: hsl(271, 100%, 73%);
}


body {
    background-color: var(--contrast-light);
    font-family: Arial, SansSerif, serif;
    font-size: 16px;
    color: var(--text-color);
    margin-top: 0;
    margin-inline: 1%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

a {
    color: var(--link);
}

a:visited {
    color: var(--visited-link);
}

header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
}

headerButtons {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.themeButton {
    position: initial;
    right: 20px;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    z-index: 2;
}

.switch {
    display: flex;
    justify-content: start;
    width: 45px;
    border-radius: 15px;
    height: 15px;
    background-color: var(--contrast-dark);
    padding: 2px;
    transition: 0.3s ease-out;
}

.switchToggle {
    height: 100%;
    width: 15px;
    border-radius: 50%;
    background-color: var(--button);
}

a.selectPage {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--button);
    flex: 1;
    border: .2px solid black;
    border-radius: 2px;
}

a.selectPage:hover {
    background-color: var(--button-hover);
}

button:hover {
    cursor: pointer;
}

.infoTags {
    font-size: xx-small;
    color: var(--contrast-dark);
}

.explanationTag {
    display: inline-block;
    color: var(--contrast-light);
    background-color: var(--contrast-dark);
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: x-small;
    border-radius: 5px;
    padding: 0;
}

.tooltip {
    display: none;
    position: absolute;
}

.tooltip .tooltipText {
    visibility: hidden;
    background-color: var(--contrast-dark);
    color: var(--contrast-light);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
}

.tooltip:hover {
    cursor: pointer;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    font-size: small;
}

.noDisplay {
    display: none !important;
}

.pcOnly {
    display: none;
}

.phoneOnly {
    display: block;
}

.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 2vh;
    left: 90vw;
    padding: 8px 12px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 32px;
}

.close:hover {
    background: hsl(0, 0%, 20%);
}

dialog {
    top: 0;
    left: 0;
    margin: 0;
    padding: 19px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);;
    border: none;
}

dialog[open] {
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    body {
        margin-inline: 0;
    }

    .tooltip {
        display: inline-block;
    }

    logo {
        background-image: url("Images/PortfolioLogo.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        min-height: 2vh;
        margin-inline: 25vw;
        background-position: center;
    }

    header {
        height: 8vh;
        position: sticky;
        top: 0;
        background-color: var(--light-blue);
        padding-block: 15px;
    }

    headerButtons {
        flex-direction: row;
        margin-inline: 10vw;
        height: 4vh;
    }

    a.selectPage {
        padding-block: 5px;
    }

    .themeButton {
        position: absolute;
    }

    .switch {
        width: 75px;
        height: 25px;
        border-radius: 25px;
    }

    .switchToggle {
        width: 25px;
    }

    main {
        margin-inline: 8.5vw;
    }

    .pcOnly {
        display: block;
    }

    .phoneOnly {
        display: none !important;
    }
}

@media screen and (min-width: 1285px) {
    .close {
        display: inline;
        top: 5vh;
        left: 95vw;
        padding: 12px 16px;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: large;
    }
}