@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --services-text: hsl(223, 70%, 67%);
    --form-bg: hsl(263, 39%, 90%);
}

.dark-mode{
    --services-text: hsl(223, 70%, 57%);
    --form-bg: hsl(263, 39%, 75%);
}

form {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    column-gap: 5px;
    row-gap: 7px;
}

input {
    background-color: var(--form-bg);
    color: hsl(0, 0%, 20%);
    min-height: 20px;
    padding: 5px;
}

button{
    justify-self: right;
    padding-block: 4px;
    background-color: var(--light-blue);
    color: var(--text-color);
    border-radius: 5px;
    border: 0.2px solid gray;
    font-size: large;
    padding-inline: 7px;
    width: 20%;
    min-width: 70px;
    grid-column: 2/3;
}

ol li{
    margin-block: 15px;
    color: var(--services-text);
    font-size: 26px;
    font-weight: bold;
    font-family: "Monsterrat", "SansSerif", serif;
}

textarea {
    background-color: var(--form-bg);
    color: hsl(0, 0%, 20%);
    resize: none;
    padding: 5px;
}


input::placeholder,textarea::placeholder{
    color: hsl(0, 0%, 20%);
}

#email {
    grid-column: 1/3;
}

#message {
    grid-row: 3/4;
    grid-column: 1/3;
}

@media screen and (min-width: 768px) {
    main {
        margin-inline: 15%;
    }

    form {
        margin-inline: 10%;
    }

    ol{
        list-style: none;
    }

    ol li{
        margin-block: 20px;
        text-align: center;
        font-size: 30px;
    }
}


@media screen and (min-width: 1920px) {
    main {
        margin-inline: 30%;
    }

    form {
        margin-inline: 0;
    }

    ol li{
        margin-block: 25px;
        font-size: 40px;
    }
}