main {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3vh;
    margin-bottom: 1vh;
    gap: 5px;
}

h4 {
    margin-block: 10px;
}

main div {
    flex: 1;
    border-radius: 15px;
    background-color: #EDE8F5;
    padding: 15px;
}

#news {
    position: fixed;
    width: 91%;
    left: 2.5%;
    top: -200px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #EDE8F5;
    padding: 2%;
    z-index: 3;
    transition: all ease-in-out 1.5s, opacity linear 0.5s;
    opacity: 0.5;
}

#news:hover {
    opacity: 1;
}

#newsClose {
    position: absolute;
    top: 15%;
    right: 2%;
    cursor: pointer;
}

#news h3 {
    margin: 0;
}

#news p {
    margin-block: 5px;
}

ul {
    padding-left: 15px;
    margin-top: 5px;
}

li {
    font-weight: normal;
}
#skills div{
    padding: 0;
    margin-top: 5px;
}

.listHeader {
    background-color: #D1C4E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    font-weight: bold;
    color: #3F51B5;
    padding-block: 5px !important;
    padding-inline: 10px !important;
    border-radius: 3px;
}

.listHeader:hover{
    background-color: #B39DDB;
    cursor: pointer;
}

.listHeader + ul {
    transition: 0.6s ease-in-out;
    max-height: 0;
    margin: 0;
    overflow-y: hidden;
}

.triangleButton{
    transition: all 0.3s ease-out;
}

.active + ul{
    padding-block: 8px;
    border-bottom: 1px dashed gray;
    margin-bottom: 10px;
    max-height: 150px;
}

.active .triangleButton {
    transform: rotate(180deg);
}

/*@keyframes rotateArrow {*/
/*    0%{*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    100%{*/
/*        transform: rotate(180deg);*/
/*    }*/
/*}*/

#skills {

}

NonItSkills div {
    padding-block: 0;
}

progress {
    width: 100%;
    height: 20px;
}

.pcOnly {
    display: none;
}

#download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#downloadButtonTooltip {
    width: 100px;
    position: relative;
    top: -10px;
    transition: 1.5s;
    opacity: 0;
}

#downloadButtonTooltip img {
    object-fit: contain;
    max-width: 100%;
    opacity: 0.8;
    cursor: pointer;
}

#downloadButton {
    background-color: #7091E6;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#downloadButton:hover {
    background-color: #6286E3;
}

.buttonShake {
    animation: buttonShake 2s;
}

dialog {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -170%;
    height: 40%;
    width: 90vw;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #7091E6;
    transition: ease-in-out, 1s;
}

dialog h2 {
    text-align: center;
    margin-bottom: 50px;
}

#dialogWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icon {
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    background-color: #EDE8F5;
    width: 120px;
    height: 120px;
}

.icon:hover {
    background-color: #dbd5e3;
}

@keyframes buttonShake {
    0%, 100% {
        transform: rotate(0deg) translateY(0px); /* Start and end at original position */
    }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        transform: rotate(10deg) translateY(-20px); /* Slight shake with 10px up */
    }
    10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
        transform: rotate(-10deg) translateY(-20px); /* Shake down slightly at intervals */
    }
}

@media screen and (min-width: 768px) {

    #news {
        width: 71%;
        left: 12.5%;
        padding: 2%;
    }

    dialog {
        width: 50%;
    }

    dialog h2 {
        margin-bottom: 80px;
    }

    .icon {
        width: 150px;
        height: 150px;
    }

    #dialogWrapper {
        gap: 70px;
    }

    .downloadButton {
        right: 20px;
    }

    main {
        margin-top: 2vh !important;
        margin-inline: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
    }

    ul {
        padding-left: 40px;
    }

    NonItSKills {
        display: flex;
        flex-direction: row;
    }

    #bio {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .pcOnly {
        display: block;
    }

    #downloadButtonTooltip {
        width: 150px;
    }
}

@media screen and (min-width: 1440px) {
    main {
        margin-inline: 8.5vw;
    }

    #news {
        width: 48%;
        left: 25%;
        padding: 1%;
    }

    dialog {
        width: 35%;
    }

    dialog h2 {
        margin-bottom: 110px;
    }

    #dialogWrapper {
        gap: 80px;
    }
}