main {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3vh;
    margin-bottom: 1vh;
    gap: 5px;
}

h4 {
    margin-block: 10px;
}

main div {
    flex: 1;
    border-radius: 15px;
    background-color: #EDE8F5;
    padding: 15px;
}

ul {
    padding-left: 15px;
    margin-top: 5px;
}

li {
    font-weight: normal;
}

li.MainLi {
    font-weight: bold;
    margin-block: 4px;
}

NonItSkills div {
    padding-block: 0;
}

progress {
    width: 100%;
    height: 20px;
}

.pcOnly {
    display: none;
}

#download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#downloadButtonTooltip {
    width: 100px;
    position: relative;
    top: -10px;
    transition: 1.5s;
    opacity: 0;
}

#downloadButtonTooltip img {
    object-fit: contain;
    max-width: 100%;
    opacity: 0.8;
    cursor: pointer;
}

#downloadButton {
    background-color: #7091E6;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#downloadButton:hover {
    background-color: #6286E3;
}

.buttonShake {
    animation: buttonShake 2s;
}

dialog {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -170%;
    height: 40%;
    width: 90vw;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #7091E6;
    transition: ease-in-out, 1s;
}

dialog h2{
    text-align: center;
    margin-bottom: 50px;
}

#dialogWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icon {
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    background-color: #EDE8F5;
    width: 120px;
    height: 120px;
}

.icon:hover{
    background-color: #dbd5e3;
}

@keyframes buttonShake {
    0%, 100% {
        transform: rotate(0deg) translateY(0px); /* Start and end at original position */
    }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        transform: rotate(10deg) translateY(-20px); /* Slight shake with 10px up */
    }
    10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
        transform: rotate(-10deg) translateY(-20px); /* Shake down slightly at intervals */
    }
}

@media screen and (min-width: 768px) {

    dialog {
        width: 50%;
    }

    dialog h2{
        margin-bottom: 80px;
    }

    .icon {
        width: 150px;
        height: 150px;
    }

    #dialogWrapper {
        gap: 70px;
    }

    .downloadButton {
        right: 20px;
    }

    main {
        margin-top: 2vh !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
    }

    ul {
        padding-left: 40px;
    }

    NonItSKills {
        display: flex;
        flex-direction: row;
    }

    #bio {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .pcOnly {
        display: block;
    }

    #downloadButtonTooltip {
        width: 150px;
    }
}

@media screen and (min-width: 1440px) {
    dialog {
        width: 35%;
    }
    dialog h2{
        margin-bottom: 110px;
    }

    #dialogWrapper {
        gap: 80px;
    }
}